<div class="container">
    <table id="myTable" class="table table-striped table-hover table-bordered display">
        <thead>
            <tr>
                <th scope="col">ID </th>
                <th scope="col">TITLE</th>
                <th scope="col">DESCRIPTION</th>

            </tr>
        </thead>
        <tbody *ngFor="let post of posts">
            <tr>
          
                <th>{{post.id}}</th>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
